.btn { margin-left: 3px; }

table { margin-top: 20px; }

.print-link { margin-bottom: 7px; margin-left: 2px;}


.libelle { margin-left: 200px; margin-top: -25px;}

.checkIsFr { margin-top: -10px; margin-bottom: 10px; }

.fcfa { margin-left: 5px; }
